{% extends "home.html" %}

{% block nav_buttons %}
    <!-- Override this block to remove the navigation buttons on the login page -->
{% endblock %}

{% block content %}
<div class="container mt-5 dashboard-container">
    <h2>Create Contract</h2>

    <!-- Dropdown for selecting contract type -->
    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="contractTypeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Contract Type
        </button>
        <ul class="dropdown-menu" aria-labelledby="contractTypeDropdown" id="contract-types-list">
            {% for contract in contracts %}
            <li><a class="dropdown-item" href="#" data-type="{{ contract.id }}">{{ contract.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Dropdown for selecting employees without contract -->
    <div class="dropdown mt-4">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="employeeDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Select Employee
        </button>
        <ul class="dropdown-menu" aria-labelledby="employeeDropdown" id="employees-list">
            {% for employee in employees %}
            <li><a class="dropdown-item" href="#" data-id="{{ employee.id }}">{{ employee.employee_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- Button to generate contract -->
    <button id="generateContractBtn" class="btn btn-primary mt-4" disabled>
        Generate Contract
    </button>

</div>
{% endblock %}

