{% extends "home.html" %}

{% block content %}
<div class="container mt-5 dashboard-container">
    <h2>Create Contract</h2>

    <!-- Form for creating contract -->
    <form id="create-contract-form" action="/create_contract" method="POST" class="needs-validation" novalidate>
        <!-- Dropdown for selecting contract type -->
        <div class="mb-3">
            <label for="contractType" class="form-label">Select Contract Type</label>
            <select id="contractType" name="contract_type_id" class="form-select" required>
                <option value="" selected disabled>Select Contract Type</option>
                {% for contract in contracts %}
                <option value="{{ contract.id }}">{{ contract.name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select a contract type.
            </div>
        </div>

        <!-- Dropdown for selecting employee -->
        <div class="mb-3">
            <label for="employee" class="form-label">Select Employee</label>
            <select id="employee" name="employee_id" class="form-select" required>
                <option value="" selected disabled>Select Employee</option>
                {% for employee in employees %}
                <option value="{{ employee.id }}">{{ employee.employee_name }}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Please select an employee.
            </div>
        </div>

        <!-- Submit button to generate contract -->
        <button type="submit" class="btn btn-success">Generate Contract</button>
    </form>

</div>
{% endblock %}
