{% extends "home.html" %}

{% block nav_buttons %}
<nav>
    <a href="/logout" class="btn btn-danger">Logout</a>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-5 dashboard-container">
    <h2>Create Contract</h2>

    <!-- Form for creating a contract -->
    <form method="POST" action="/create_contract">
        <!-- Dropdown for selecting contract type -->
        <div class="form-group mt-4">
            <label for="contractTypeDropdown">Select Contract Type</label>
            <select class="form-control" id="contractTypeDropdown" name="contract_type">
                {% for contract in contracts %}
                <option value="{{ contract.id }}">{{ contract.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Dropdown for selecting employees without contract -->
        <div class="form-group mt-4">
            <label for="employeeDropdown">Select Employee</label>
            <select class="form-control" id="employeeDropdown" name="employee_id">
                {% for employee in employees %}
                <option value="{{ employee.id }}">{{ employee.employee_name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Generate Contract</button>
    </form>
</div>
{% endblock %}
